/* instruments custom */
#mainInstruments {
  h1 {
    padding-top: 1%;
    margin-top: 1%;
  }
  .instruments {
    @include outer-container;
    .btnContainer {
      @include span-columns(6);
      height: 28vh;
      padding: 2% 5%;
      margin-top: 2%;
      position: relative;
      .instrumentBtn {
        display: block;
        width: 100%;
        border-radius: 50%;
        height: 100%;
        color: white;
        font-size: 2em;
        text-align: center;
        padding-top: 35%;
        &.selected {
          box-shadow: inset 0px 0px 0px 10px $yellow;
        }
      }
      span.fa-check {
        background: $blue;
        position: absolute;
        right: 15%;
        top: 20%;
        width: 10%;
        height: 10%;
        border-radius: 50%;
        opacity: 0;
        &.bounceInDown {
          opacity: 1;
        }
        &:before {
          padding: 0 20%;
          font-size: 0.8em;
          line-height: 1.2em;
          color: white;
        }
      }
    }
  }
  .instrumentBtnContainer {
    position: absolute;
    bottom: 5%;
    left: 0;
    padding: 2%;
    width: 100%;
  }
}
