/* for name.html */
#mainBandName {
  .playBtn {
    padding: 4% 2%;
    width: 50%;
  }
  .logo {
    width: 18%;
  }
  .bandNameContainer {
    color: white;
    padding: 20% 5% 0;
    input {
      margin-top: 5%;
      padding: 7% 2%;
      text-align: center;
      font-size: 1.3em;
      width: 100%;
      background: rgba(255,255,255,0.3);
      color: white;
    }
    .maxChars {
      color: rgba(150,150,150,0.5);
    }
  }
}
