@import 'bourbon';
@import 'neat';
@import 'variables';

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background: url('../../app/assets/images/Background.png');
}

h1, h3, h4 {
  color: white;
  text-align: center;
}
h1 {
  padding: 10% 2% 0;
  font-size: 3em;
  margin-bottom: 0;
}
h3 {
  margin-top: 0;
  font-size: 2.5em;
}
h4 {
  margin: 0;
  padding-bottom: 1%;
}

a {
  text-decoration: none;
}

.btn, button {
  -webkit-appearance: none;
}

.container {
  padding: 2% 5%;
  height: 100vh;
  width: 100%;
  .playBtnContainer {
    position: absolute;
    bottom: 20%;
    left: 0;
    padding: 2%;
    width: 100%;
  }
  .socialLink {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.4em;
    @include media(992px) {
      margin: 5% auto;
      p {
        margin-bottom: 5%;
      }
    }
    a {
      color: white;
    }
  }
}

.playBtn {
  text-align: center;
  display: block;
  padding: 4% 5%;
  border-radius: 8px;
  width: 45%;
  margin: 0 auto;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background: $green;
}

// HOME
#mainHome {
  .logo {
    width: 20%;
    margin-bottom: 4%;
    @include media(992px) {
      margin-top: 0;
      margin-bottom: 0;
      width: 10%;
    }

  }
  h4 {
    font-size: 1.3em;
  }
  h3 {
    color: #817DB3;
    margin-bottom: 0;
  }
  p {
    margin-top: 1%;
    text-align: center;
    color: white;
    font-size: 1.1em;
  }
  .playBtnContainer {
    bottom: 10%;
    .playBtn {
      @include media(992px) {
        padding: 2% 2%;
        width: 20%;
        font-size: 1.5em;
      }
    }
  }
  .shareBtn {
    background: rgba(250,250,250,0.4);
    padding: 2%;
    border-radius: 8px;
  }
}

#mainPlay {
  .logo {
    margin-top: 5%;
    width: 20%;
    @include media(992px) {
      margin-top: 0;
      width: 10%;
    }
  }
  h1 {
    margin-top: 0;
    @include media(992px) {
      padding-top: 2%;
    }
    img {
      width: 85%;
      @include media(992px) {
        width: 30%;
      }
    }
  }
  h3 {
    font-size: 1.2em;
  }
  .playBtnContainer {
    bottom: 10%;
    .playBtn {
      @include media(992px) {
        padding: 2% 2%;
        width: 20%;
        font-size: 1.5em;
      }
    }
  }
}
