/*----- Colors -----*/
$trans-black: rgba(0,0,0,0.8);
$red: #FA5965;
$darkRed: #E5505D;
$green: #51CB7B;
$darkGreen: #48B36B;
$yellow: #FFD400;
$darkYellow: #E6BF00;
$blue: #0081FF;
$darkBlue: #0073E6;
/*-----END Colors -----*/
