<section id="mainDrums" class="soundsContainer">
  <div class="logoContainer">
    <img class="logo" src="./app/assets/images/triangle.svg" alt="">
  </div>
  <h4>Ok, ok lets face it, you got the best instrument</h4>
  <div class="row">
    <div class="btnContainer">
      <a href="" class="btn drumsBtn soundsBtn" ng-click="drums.kick()" ng-dblclick="drums.kick($event)">Kick</a>
    </div>
    <div class="btnContainer">
      <a href="" class="btn drumsBtn soundsBtn" ng-click="drums.snare()">Snare</a>
    </div>
  </div>
  <div class="row">
    <div class="btnContainer">
      <a href="" class="btn drumsBtn soundsBtn" ng-click="drums.hat()">Hat</a>
    </div>
    <div class="btnContainer">
      <a href="" class="btn drumsBtn soundsBtn" ng-click="drums.ride()">Ride</a>
    </div>
  </div>
  <div class="row">
    <div class="btnContainer">
      <a href="" class="btn drumsBtn soundsBtn" ng-click="drums.sfx1()">SFX1</a>
    </div>
    <div class="btnContainer">
      <a href="" class="btn drumsBtn soundsBtn" ng-click="drums.sfx2()">SFX2</a>
    </div>
  </div>
</section>
