<section id="mainLead" class="soundsContainer">
  <div class="logoContainer">
    <img class="logo" src="./app/assets/images/triangle.svg" alt="">
  </div>
  <h4>sick! the lead always gets the groupies</h4>
  <div class="row">
    <div class="btnContainer">
      <a href="" class="btn leadBtn soundsBtn" ng-click="lead.riff(1, $event)">Riff 1</a>
    </div>
    <div class="btnContainer">
      <a href="" class="btn leadBtn soundsBtn" ng-click="lead.riff(2, $event)">Riff 2</a>
    </div>
  </div>
  <div class="row">
    <div class="btnContainer">
      <a href="" class="btn leadBtn soundsBtn" ng-click="lead.riff(3, $event)">Riff 3</a>
    </div>
    <div class="btnContainer">
      <a href="" class="btn leadBtn soundsBtn" ng-click="lead.riff(4, $event)">Riff 4</a>
    </div>
  </div>
  <div class="row">
    <div class="btnContainer">
      <a href="" class="btn leadBtn soundsBtn" ng-click="lead.riff(5, $event)">Riff 5</a>
    </div>
    <div class="btnContainer">
      <a href="" class="btn leadBtn soundsBtn" ng-click="lead.riff(6, $event)">Riff 6</a>
    </div>
  </div>
</section>
