<section id="mainRhythm" class="soundsContainer">
  <div class="logoContainer">
    <img class="logo" src="./app/assets/images/triangle.svg" alt="">
  </div>
  <h4>Listen, rhythm is the backbone of this band</h4>
  <div class="row">
    <div class="btnContainer">
      <a href="" class="btn rhythmBtn soundsBtn" ng-click="rhy.riff(1, $event)">Riff 1</a>
    </div>
    <div class="btnContainer">
      <a href="" class="btn rhythmBtn soundsBtn" ng-click="rhy.riff(2, $event)">Riff 2</a>
    </div>
  </div>
  <div class="row">
    <div class="btnContainer">
      <a href="" class="btn rhythmBtn soundsBtn" ng-click="rhy.riff(3, $event)">Riff 3</a>
    </div>
    <div class="btnContainer">
      <a href="" class="btn rhythmBtn soundsBtn" ng-click="rhy.riff(4, $event)">Riff 4</a>
    </div>
  </div>
  <div class="row">
    <div class="btnContainer">
      <a href="" class="btn rhythmBtn soundsBtn" ng-click="rhy.riff(5, $event)">Riff 5</a>
    </div>
    <div class="btnContainer">
      <a href="" class="btn rhythmBtn soundsBtn" ng-click="rhy.riff(6, $event)">Riff 6</a>
    </div>
  </div>
  <div class="quitTheBand">
    <a class="quit" ng-click="rhy.quit()">Quit The Band!</a>
  </div>
</section>
